{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} ETI Blog 2020. {% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('app_login') }}">Login/Logout</a></li>
            <li><a href="{{ path('user_registration') }}">Register</a></li>
            <li><a href="{{ path('post_listing') }}">Posts</a></li>
            <li><a href="{{ path('first_page') }}">First Page</a></li>
            {% if app.user %}
            <li><a href="{{ path('secret_area') }}">Secret Area</a></li>
            {% endif %}

        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
