{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Add your article{% endblock %}

{% block content %}
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
    <h1> Add article: </h1>

    <p>{{ form(form) }}</p>


{% endblock %}