{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Articles to read{% endblock %}

{% block content %}
    <p> Posts: </p>

    <ul>
        <h1>Content:</h1>
        <p>{{ articles.content }}</p>
    </ul>
    <h2>Comments:</h2>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% if articles.allowCommentAnonymous == true or articles.allowComment == true and app.user != null %}
        {{ form(form) }}
    {% elseif articles.allowCommentAnonymous == false and articles.allowComment == true %}
        You must log on to comment on this post
    {% elseif articles.allowCommentAnonymous == false and articles.allowComment == false %}
        Comments off
    {% endif %}
    <p> Comments: </p>
    {% for comment in comments %}
        <ul>
            <li>{{ comment.username }}</li>
            <li>{{ comment.creationDate|date("m/d/Y H:m:i", false) }}</li>
            <li>{{ comment.content }}</li>
            <br><br>
        </ul>
    {% endfor %}


{% endblock %}

