{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Articles to read{% endblock %}

{% block content %}
    {% if app.user %}
    <h1><a href="{{ path('add_post')}}">Add your Post!</a></h1>>
    {% endif %}
    <p> Posts: </p>
    <ul>
    {% for article in articles %}
        <li>
            <a href="{{ path('post_details', {'id': article.id }) }}">
                {{ article.title }} - {{ article.summary }}
            </a> --->
            {% if app.user and article.creatorId == app.user.id %}
                <a href="{{ path ('edit_post', {'id': article.id}) }}">
                    Edit
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}