{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Caution! This is Secret Area!!!{% endblock %}

{% block content %}

    Posts in secret area:
{% for post in posts %}
    <li>
        <a href="{{ path('post_details', {'id': post.id }) }}">
            {{ post.title }} - {{ post.summary }}
        </a>
    </li>
    {% endfor %}
{% endblock %}